<div class="container">
<!--header-->
  <div class="header">
  <nav>
      <img class="logo"  src="../assets/images/logo.png" routerLink="/shop" routerLinkActive="active">
      <button class="openBasket" mat-icon-button matTooltip="Cart" (click)="openBasket()"> <mat-icon [matBadge]="selectedListCount">shopping_cart</mat-icon></button>
  </nav>
  </div>
<!--body-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
<!--footer-->
  <div class="footer">
    <a>Copyright © 2020 Demo Software All Rights Reserved</a>
  </div>
</div>
